*{
	border: 0;
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei";
	box-sizing: border-box;
}
body{
	background-image: url(bg.png);
	background-repeat: repeat-x;
	background-size: auto 100vh;
}
#all{
	min-width: 980px;
	max-height: 100vh;
}
#left{
	width: 40%;
	height: 100vh;
	float: left;
}
#mid{
	min-width: 400px;
	width: 20%;
	height: 100vh;
	float: left;
}
#right{
	width: 19%;
	height: 100vh;
	float: left;
}
#logo{	width: 109px;
	height: 37px;
	background-position: 10px 10px;
	background-image: url(logo.png);
	background-repeat: no-repeat;

}
#alert{
display: none;
	    width: 499px;
    height: 408px;
    background-image: url(alert.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    padding-top: 150px;
    padding-left: 50px;
    margin-top: 34vh;
    float: right;
}
#alert p{

    width: 227px;
    position: relative;
    left: 96px;
    font-size: 26px;
    top: -11px;

    color: red;
}
#alert2{
 display: none;
	    width: 499px;
    height: 408px;
    background-image: url(alert.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    padding-top: 150px;
    padding-left: 50px;
    margin-top: 34vh;
    float: right;
}
#alert2 p{

    width: 227px;
    position: relative;
    left: 96px;
    font-size: 26px;
    top: -57px;

    color: #0ec4fb;
}

#mesbox{
	display: none;
	width: 319px;
	height: 408px;
	background-image: url(mesbox.png);
	background-repeat: no-repeat;
	border-radius: 10px;
	padding-top: 150px;
	padding-left: 50px;
	margin-top: 25vh;
	float: right;
}
#mesbox p{
	color: #0ec4fb;
}
#mesbox h2{
	color: #2aa1fd;
	padding-left: 50px;
	line-height: 50px;
}

#usbbox{
	margin-top: 25vh;
	width: 320px;
	height: 480px;
/* 	background-image: url(usbbox.png); */
	background-repeat: no-repeat;
	padding-right: 20px;
	padding-top: 80px;
	background-position: right top;
}
#usbbox:hover #usb{

	background-image: url(eye1.png);
	box-shadow: 0px 25px 35px 0px rgba(7, 0, 2, 0.1);
}
#usb{
	transition: all 0.3s ease;
	width: 300px;
	height: 400px;
	background-color: white;
	background-image: url(eye.png);
	background-repeat: no-repeat;
	border-radius: 40px;
	box-shadow: 0px 6px 35px 0px rgba(7, 0, 2, 0.1);
}
#rightbox{
	height: 408px;
	width: 100%;
	margin-top: 25vh;
	padding-top: 328px;
}
.circle{
	color: white;
	overflow: hidden;
	font-size: 0;
	transform-origin: 50% 50%;
	transition: 0s font ease;
	transition: 0.3s all ease;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 80px;
	height: 80px;
	background-color: white;
	border-radius: 50%;
	float: left;
	box-shadow: 0px 6px 35px 0px rgba(7, 0, 2, 0.1);
}
#cirright{
	margin-left: 10px;
	background-image: url(cirright.png);
}
#cirleft{
	background-image: url(cirleft.png);
}
.circle:hover{
	position: relative;
	border-radius: 10px;
	width: 200px;
	height: 162px;
	font-size: 16px;
	color: #0ec4fb;
	padding: 10px;
}
#cirright:hover,#cirleft:hover{
	background: none;
	background-color: white;
}
.button{
	font-weight: bold;
	float: left;
	margin-top: 40px;
	line-height: 50px;
	text-align: center;
	border-radius: 10px;
	width: 130px;
	height: 50px;
	background-color: white;
	color: white;
}
#butup{
	background-color: #bfbfbf;
}
.butdown{
	margin-left: 46px;
	background-color: #2aa1fe;
	transition: 0.3s all ease;
}
.butdown:hover{
	background-color: #0ec3fa;
}

.tip{
background-image: url(tip.png);
}
body{
             -moz-user-select:none; /*火狐*/
             -webkit-user-select:none; /*webkit浏览器*/
             -ms-user-select:none; /*IE10*/
             -khtml-user-select:none; /*早期浏览器*/
             user-select:none;
}